[submodule "ros1_ws/src/virtual_maize_field"]
	path = ros1_ws/src/virtual_maize_field
	url = https://github.com/FieldRobotEvent/virtual_maize_field
[submodule "ros2_ws/src/virtual_maize_field"]
	path = ros2_ws/src/virtual_maize_field
	url = https://github.com/FieldRobotEvent/virtual_maize_field
	branch = ros2
[submodule "bridge_ws/src/ros1_bridge"]
	path = bridge_ws/src/ros1_bridge
	url = https://github.com/ros2/ros1_bridge.git
	branch = foxy
[submodule "ros2_ws/src/sick_scan_xd"]
	path = ros2_ws/src/sick_scan_xd
	url = https://github.com/SICKAG/sick_scan_xd.git
[submodule "ros2_ws/src/laser_geometry"]
	path = ros2_ws/src/laser_geometry
	url = https://github.com/ros-perception/laser_geometry.git
	branch = ros2
